  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap');

  * {
    font-family: 'Noto Serif', serif;
  }

  header {
    background-image: url('/home-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }


  .logo h2{
      font-size:35px;
      font-weight: 700;
  }

  header .navbar-nav li a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 20px;
  }


  header .navbar-nav li:first-child a {
      background-color: #FFD321;
      padding: 10px 16px!important;
  }

  .hero {
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      height: 100vh;
      text-align: center; 
      gap: 10px; 
  }

  .hero h2{
      font-size: 23px;
      font-weight: 900;
      letter-spacing: 2px;
  }

 .hero h1{
      font-size: 54px;
      font-weight: 700;
      margin-bottom: 40px;
  }

  .hero a{
      text-decoration: none;
      color: black;
      background-color: white;
      padding: 12px 28px;
      border: black 3px solid;
}

.hero hr{
  border: 2px solid #000000;
  width: 8%;
  margin-bottom: 25px;
}