.about-head h2{
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.about-head p{
    font-weight: 700;
}

.about i {
    background-color: #FFD321;
    border-radius: 50%;
    padding: 20px 28px;
    font-size: 32px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.about-title{
    font-size: 25px;
    font-weight: 700;
    margin: 12px 0;
}

.blog-content{
    font-size: 15px;
    word-spacing: 2px;
}
.about-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
